In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('/content/mushrooms.csv')

In [6]:
df.head()

  type cap_shape cap_surface  ... spore_print_color population habitat
0    p         x           s  ...                 k          s       u
1    e         x           s  ...                 n          n       g
2    e         b           s  ...                 n          n       m
3    p         x           y  ...                 k          s       u
4    e         x           s  ...                 n          a       g

[5 rows x 23 columns]

In [7]:
df.shape

(8124, 23)

In [8]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [9]:
le=LabelEncoder()

In [10]:
ds=df.apply(func=le.fit_transform)

In [11]:
ds.head()

   type  cap_shape  cap_surface  ...  spore_print_color  population  habitat
0     1          5            2  ...                  2           3        5
1     0          5            2  ...                  3           2        1
2     0          0            2  ...                  3           2        3
3     1          5            3  ...                  2           3        5
4     0          5            2  ...                  3           0        1

[5 rows x 23 columns]

In [23]:
data=ds.values

In [24]:
X=data[:,1:]
y=data[:,0]

In [26]:
X.shape,y.shape

((8124, 22), (8124,))

In [28]:
 X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

#Custom NB

In [42]:
class CustomNB:
  def fit(self,X,Y):
    self.X_train=X
    self.y_train=Y

  def prior_prob(self,label):
    total=self.X_train.shape[0]
    class_examples=np.sum(self.y_train==label)
    return class_examples/float(total) 

  def conditional_prob(self,feature_col,feature_val,label):
    X_filtered=self.X_train[self.y_train==label]
    numerator=np.sum(X_filtered[:,feature_col]==feature_val)
    denominator=len(X_filtered)
    return numerator/denominator
  
  def predict_point(self,X_test):
    classes=np.unique(self.y_train)
    n_features=self.X_train.shape[1]
    post_pro=[]
    for label in classes:
      likehood=1.0
      for feature in range(n_features):
        cond=self.conditional_prob(feature,X_test[feature],label)
        likehood*=cond
      prior=self.prior_prob(label)
      post=prior*likehood;
      post_pro.append(post)
    return np.argmax(post_pro)
  
  def predict(self,X_test):
    res=[]
    for point in X_test:
      res.append(self.predict_point(point))
    return np.array(res)
  def score(self,X_test,Y_test):
    return (self.predict(X_test)==y_test).mean()

In [43]:
model=CustomNB()

In [44]:
model.fit(X_train,y_train)

In [45]:
model.predict(X_test[:10])
model.score(X_test,y_test)

0.9973890339425587